<a href="/admin/user/new" class="btn btn-primary btn-sm pull-right">新增</a>
<a href="/admin/user/batch_new" class="btn btn-primary btn-sm pull-right">批量新增</a>
<h4 class="text-center">用户列表</h4>
<table class="table table-hover datatable" data-source="/admin/user">
  <thead>
    <tr>
      <th>学号</th>
      <th>用户昵称</th>
      <th>班级</th>
      <th>宿舍</th>
      <th>电话</th>
      <th>操作</th>
    </tr>
  </thead>
</table>
<div class="searchable" value="学号 / 班级 / 宿舍"></div>
