<div class="jumbotron row">
  <div class="text-center">
    <span class="col-sm-12">
      <img src="/image/home.png" alt="首页" width="200" height="200">
    </span>
    <h1 class="lead">Welcome to SCNUOJ</h1>
    <p>Here, you can improve your programme</p>
    <p>Here, you can meet a number of cute friend</p>
    <p>Here, you can feel what it is amazing!</p>
    <p><a href="/problems/1000/rand" class="btn btn-primary btn-lg">Go</a></p>
  </div>
</div>
