<table class="table table-hover table-responsive datatable" data-source="/problem">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t(Title) %></th>
      <th><%= t(Difficulty) %></th>
      <th><%= t(Ratio) %></th>
      <th><%= t(Source) %></th>
    </tr>
  </thead>
</table>
<div class="searchable" value="<%= t(ProblemID) %> / <%= t(Title) %>"></div>
