<footer class="text-center text-muted">
  <p>
    <a href="/" class="text-muted"><%= t(Home) %></a>
    <a href="/about" class="text-muted"><%= t(About) %></a>
    <a href="/joinus" class="text-muted"><%= t(Joinus) %></a>
  </p>
  <p>Copyright © 2017 South China Normal University. All Rights Reserved</p>
  <p>华南师范大学计算机学院 版权所有</p>
</footer>
