<table class="table table-hover table-responsive datatable" data-source="/rank">
  <thead>
    <tr>
      <th><%= t(Rank) %></th>
      <th><%= t(Username) %></th>
      <th><%= t(ClassGrade) %></th>
      <th><%= t(Dormitory) %></th>
      <th><%= t(Score) %></th>
    </tr>
  </thead>
</table>
<div class="searchable" value="<%= t(Username) %> / <%= t(ClassGrade) %>"></div>
