<table class="table table-hover table-responsive datatable" data-source="/rank/week">
  <thead>
    <tr>
      <th><%= t(WeekRank) %></th>
      <th><%= t(Username) %></th>
      <th><%= t(WeekScore) %></th>
    </tr>
  </thead>
</table>
<div class="searchable" value="<%= t(Username) %>"></div>
