<a href="/admin/problem/new" class="btn btn-primary btn-sm pull-right">新增题目</a>
<h4 class="text-center">题目管理</h4>
<table class="table table-hover datatable" data-source="/admin/problem">
  <thead>
    <tr>
      <th>id</th>
      <th>题号</th>
      <th>题目标题</th>
      <th>难度</th>
      <th>通过率</th>
      <th>来源</th>
      <th>操作</th>
    </tr>
  </thead>
</table>
<div class="searchable" value="problem_id title"></div>
