<table class="table table-hover table-responsive datatable" data-source="/contest">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t(Title) %></th>
      <th><%= t(StartTime) %></th>
      <th><%= t(EndTime) %></th>
      <th><%= t(Address) %></th>
      <th><%= t(Status) %></th>
      <th><%= t(Remark) %></th>
    </tr>
  </thead>
</table>
<div class="searchable" value="<%= t(ContestID) %>"></div>
