<table class="table table-hover table-responsive datatable" data-source="/contest/<%= contest.id %>/rank">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t(Username) %></th>
      <th>AC</th>
      <th><%= t(Penalty) %></th>
      <th><%= t(Detail) %></th>
    </tr>
  </thead>
</table>
<div class="searchable" value="<%= t(Username) %>"></div>
